<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<body>
    <form action ="/visitors">
    <h2>Museum Api</h2>
    <input type="text" name ="month" id = "dateIn" class = "dateIn" placeholder="Enter the date">
    <input type = "submit" id="sendData" value="Submit">   
    </form>
</body>
<script>
    
   
</script>
</html>